.section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
  }

.container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    flex-wrap: wrap;
}

.container h1{
    color: #62559A;
}

.container p{
    font-weight: 400;
    color: #62559A;
}

@media(max-width: 940px){
    .container{
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
}
