.footer{
    background-color: #62559A;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
  }

.footer_container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    flex-direction: column;
}

.useful_links{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.footer_nav_links, .social_links{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
  }

.social_links{
  margin-top: 30px;
  justify-content: center;
}
  
  .social_links li, .footer_nav_links li{
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
  }

  .social_links li{
    font-size: 26px;
  }

  .footer_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #9482E3;
  }

  .company_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .company_details p{
    color: #fff;
  }

  .nat{
    margin-top: 30px;
  }

  .footer_tail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 12px;
  }

  .legal_disclaimer{
    color: #ffffff;
  }

  .creator_data:hover{
    color: #9482E3;
  }

  @media(max-width: 940px){
    .footer_head, .footer_tail{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .legal_disclaimer{
      display: flex;
      text-align: center;
    }

    .useful_links, .footer_nav_links, .social_links, .legal_disclaimer{
      align-items: center;
      justify-content: center;
    }

    .useful_links{
      margin-top: 40px;
    }

    .company_details, .nat{
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .footer_nav_links, .social_links{
      flex-wrap: wrap;
      padding: 0;
    }

    .footer_container{
      gap: 80px;
    }
  }