.header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

.header_container{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  flex-wrap: wrap;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 140px;
    width: 100%;
  }
  
  .main_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  #jobs{
    position: relative;
  }

  #jobs:hover::after{
    width: 0;
  }

  .submenu{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-10%,100%);
    height: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    background-color: #DAAA9E;
    transition: height ease 0.6s;
  }

  #jobs:hover .submenu{
    height: 90px;
    transition: height ease 0.6s;
  }

  .submenu_nav_links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 15px;
  }

  .submenu_nav_links li{
    color: #fff !important;
  }

  .submenu_nav_links li::after{
    background: #fff !important;
    width: 0;
  }

  .submenu_nav_links li:hover::after{
    width: 100% !important;
  }
  
  .nav_links{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
  }
  
  .nav_links li{
    color: #62559A;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    position: relative;
  }

  .nav_links li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #62559A;
    transition: width 0.4s;
  }
  
  .nav_links li:hover::after{
    width: 100%;
  }

  .list_item{
    display: flex;
    justify-content: space-between;
}
  .signup{
    cursor: pointer;
    padding: 5px 35px;
    background-color: #DAAA9E;
    border-radius: 24px;
    border: none;
    outline: none;
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    line-height: 35px;
  }

  .mobile_signup, .mobile_menu{
    display: none;
  }

  .mobile_menu_popup{
    width: 0;
  }

  @media(max-width: 940px){

    .main_nav{
      justify-content: flex-end;
    }

    .logo{
      width: 30%;
    }

    .logo_img{
      width: fit-content;
    }
  
    .nav_links{
      display: none;
    }

    .main_nav .signup{
      display: none;
    }

    .mobile_signup{
      display: flex;
      cursor: pointer;
      padding: 10px 14px;
      background-color: #DAAA9E;
      border-radius: 50%;
      border: none;
      outline: none;
      font-weight: 600;
      color: #fff;
      font-size: 20px;
    }

    .mobile_menu{
      display: block;
      cursor: pointer;
      border: none;
      outline: none;
      font-weight: 600;
      color: #DAAA9E;
      font-size: 30px;
      background-color: #EFEADD;
    }

    .mobile_menu_popup{
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #DAAA9E;
      color: #fff;
      width: 100vw;
      height: 100vh;
      z-index: 10;
      transition: width 0.4s;
    }

    .close_popup_menu{
      position: absolute;
      top: 10px;
      right: 10px;
      color: #fff;
      cursor: pointer;
      border: 2px solid #fff;
      border-radius: 50%;
      outline: none;
      font-weight: 300;
      font-size: 30px;
      background: none;
    }

    .mobile_nav_links{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      align-items: center;
      height: 100%;
      width: 100%;
    }
    .mobile_nav_links li{
      color: #fff;
      font-weight: 400;
      font-size: 30px;
      cursor: pointer;
      position: relative;
    }
  
    .mobile_nav_links li::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: #fff;
      transition: width 0.4s;
    }
    
    .mobile_nav_links li:hover::after{
      width: 100%;
    }

    .submenu{
      background-color: #62559A;
      z-index: 999;
      width: 230px;
    }

    .header_container{
      flex-direction: row;
      justify-content: space-between;
    }
  }
  